.text-center {
  text-align: center;
}

.center-elements {
  display: flex;
  justify-content: center;
}

.type-lessons_learnc {
  code {
    white-space: normal;
    padding: 2px 4px;
    color: #3f3f3f;
    background-color: rgba(128,128,128,0.20);
    border-radius: 4px;
    font-family: "Source Code Pro",monospace;
    font-size: .9em;
  }
}